<center><img src="https://media-exp1.licdn.com/dms/image/C4E22AQEbIXZiRVkJPQ/feedshare-shrink_2048_1536/0?e=1602115200&v=beta&t=XHE3KbzKbKy54WYDTfq7VFNUPfNjoIOrjBw6dzFPTfA" width="1000"></center>

# SDC Certified Program in Python for Data Analysis

## Tema 3. Importación y conexión de base de datos

### Prof. Manuel Sigüeñas, M.Sc.(c) 

[Perfil](https://socialdata-peru.com/learning/teacher2.php)

### Prof. Lenguajes de Programación para Ciencia de Datos / Agile Data Scientists / SCRUMStudy Certified Trainer


[msiguenas@socialdata-peru.com](msiguenas@socialdata-peru.com)

<a id='beginning'></a>

En esta sección veremos diversas opciones para cargar y conectarnos a bases de datos en Python:

1. [Importación de bases de datos: json, Excel, spss, stata, dbf, txt, csv, xml](#part1) 
2. [Conexión a base de datos: PostgreSQL, SQL Server y Oracle](#part2) 
3. [Laboratorio 3](#part3)

<a id='part1'></a>
## Importación de bases de datos

La mejor recomendación es que sus datos esten almacenados en algun lugar de la web. Y si está en su computadora, que esté en la misma carpeta donde estás escribiendo el código.

### JSON

En esta sección cargaremos los ficheros de subvenciones dados en formato JSON. En primer lugar, cargamos la biblioteca **json**

In [5]:
#pip install json

In [4]:
import json5

In [3]:
import json
import pandas as pd

Los objetos JSON se cargan en Python como diccionarios, mientras que los *arrays* JSON se traducen como listas Python. Con esta información podemos usar **load** para cargar y visualizar el fichero:

In [8]:
file= 'D:/Python/1. Nivel I/3/datos/subvenciones.json'

In [10]:
with open(file, encoding='utf-8') as fichero:
    datos = json.load(fichero)

In [12]:
print(datos[0:3])

[{'Asociación': 'AMPA ANTONIO MACHADO', 'Actividad Subvencionada': 'TALLER FIESTA DE CARNAVAL', 'Importe en euros': '94.56'}, {'Asociación': 'AMPA ANTONIO MACHADO', 'Actividad Subvencionada': 'TALLER DIA DEL PADRE', 'Importe en euros': '39.04 '}, {'Asociación': 'AMPA ANTONIO MACHADO', 'Actividad Subvencionada': 'TALLER DIA DE LA MADRE', 'Importe en euros': '43.64 '}]

In [13]:
type(datos)

list

In [14]:
type(datos[0])

dict

Los datos usados fueron descargados de la [iniciativa de datos abiertos del Gobierno de España](http://datos.gob.es/) en marzo de 2018. Los ficheros en CSV, JSON, XML y XLS se refieren a las subvenciones asignadas en 2016 a asociaciones del ámbito educativo por el ayuntamiento de Alcobendas.

Como vemos, nuestro fichero JSON consiste en una lista de objetos donde cada uno de estos objetos se corresponde con una subvención, es decir, contiene 3 campos correspondientes a **"Asociación"**, **"Actividad Subvencionada"** e **"Importe en euros"**.

In [15]:
subvenciones=pd.DataFrame(datos)

In [16]:
subvenciones.head(10)

             Asociación            Actividad Subvencionada Importe en euros
0  AMPA ANTONIO MACHADO          TALLER FIESTA DE CARNAVAL            94.56
1  AMPA ANTONIO MACHADO               TALLER DIA DEL PADRE           39.04
2  AMPA ANTONIO MACHADO             TALLER DIA DE LA MADRE           43.64
3  AMPA ANTONIO MACHADO                FIESTA FIN DE CURSO          921.00
4  AMPA ANTONIO MACHADO             CONCURSO LOGOTIPO AMPA           56.57
5  AMPA ANTONIO MACHADO         ASOCIACION FAPA ALCOBENDAS           80.00
6  AMPA ANTONIO MACHADO  ASOCIACION FAPA GINER DE LOS RIOS           86.79
7  AMPA ANTONIO MACHADO                  FIESTA DE NAVIDAD          660.00
8  AMPA ANTONIO MACHADO                          HALLOWEEN          168.39
9  AMPA ANTONIO MACHADO                         SAN ISIDRO          195.00

### Excel

Si tiene el archivo en Excel:

In [18]:
#pip install xLrd

In [17]:
#
import pandas as pd

In [20]:
#import xLrd

In [18]:
file_xlsx = 'D:/Python/1. Nivel I/3/datos/subvenciones_df.xls'

In [19]:
dataExcel=pd.read_excel(file_xlsx,
                        sheet_name='Hoja1') # no need for '0'
dataExcel.head(10)

,Unnamed: 0,Asociación,Actividad Subvencionada,Importe
0,0,AMPA ANTONIO MACHADO,TALLER FIESTA DE CARNAVAL,94.56
1,1,AMPA ANTONIO MACHADO,TALLER DIA DEL PADRE,39.04
2,2,AMPA ANTONIO MACHADO,TALLER DIA DE LA MADRE,43.64
3,3,AMPA ANTONIO MACHADO,FIESTA FIN DE CURSO,921.00
4,4,AMPA ANTONIO MACHADO,CONCURSO LOGOTIPO AMPA,56.57
5,5,AMPA ANTONIO MACHADO,ASOCIACION FAPA ALCOBENDAS,80.00
6,6,AMPA ANTONIO MACHADO,ASOCIACION FAPA GINER DE LOS RIOS,86.79
7,7,AMPA ANTONIO MACHADO,FIESTA DE NAVIDAD,660.00
8,8,AMPA ANTONIO MACHADO,HALLOWEEN,168.39
9,9,AMPA ANTONIO MACHADO,SAN ISIDRO,195.00

### SPSS

In [5]:
#import pandas.rpy.common as com

In [ ]:
#pip install pyreadstat

In [21]:
import pyreadstat

In [22]:
filesav = 'D:/Python/1. Nivel I/3/datos/distritos.sav'
df, meta = pyreadstat.read_sav(filesav)

- distrito: nombre del distrito
- ocu_vivi: hogares en cada vivienda
- pobpjov: % de población en pueblos jóvenes
- sinelect: % de población sin electricidad
- sinagua: % de población sin agua
- pea1619: PEA entre 16 y 19 años
- pocprin: % de población de 6-19 con primaria completa
- peam 15: PEA menores de 15 años

In [23]:
df.head(10)

,distrito,ocu_vivi,pobpjov,sinelect,sinagua,pea1619,pocprin,peam15
0,Ate,1.15,5.3,27.60,51.10,3.9,1.1,63.48
1,Barranco,1.09,4.5,1.59,8.32,0.8,3.9,33.48
2,Breña,1.08,4.4,2.20,23.15,0.9,4.0,37.89
3,Carabayllo,1.10,5.1,30.13,38.09,4.5,12.6,63.65
4,Comas,1.20,5.9,10.92,24.27,3.8,9.4,60.37
5,Chorrillos,1.15,5.5,16.77,37.11,3.2,10.6,18.78
6,Agustino,1.22,6.0,16.42,41.16,4.5,13.5,55.84
7,Independencia,1.19,5.9,9.61,21.58,4.0,10.5,60.16
8,Jesús María,1.03,4.2,0.57,14.78,0.3,3.1,23.52
9,La Victoria,1.06,4.7,3.09,25.79,1.7,7.8,49.21

### Stata

In [26]:
import pandas as pd

Vamos a descargar un archivo en stata, del American National Election Studies (ANES). Y me interesan unas variables en particular:

In [27]:
varsOfInterest=["libcpre_self","libcpo_self"]

Pandas se encargará:

In [28]:
file= 'D:/Python/1. Nivel I/3/datos/anes_timeseries_2012.dta'

In [29]:
dataStata=pd.read_stata(file,
                        columns=varsOfInterest)

In [39]:
dataStata.head(10)

,libcpre_self,libcpo_self
0,1. Extremely liberal,"-6. Not asked, unit nonresponse (no post-elect..."
1,1. Extremely liberal,2. Liberal
2,-2. Haven't thought much about this,2. Liberal
3,-2. Haven't thought much about this,-8. Don't know
4,2. Liberal,2. Liberal
5,-8. Don't know,4. Moderate; middle of the road
6,-2. Haven't thought much about this,-2. Haven't thought much {do not probe}
7,-2. Haven't thought much about this,-2. Haven't thought much {do not probe}
8,4. Moderate; middle of the road,4. Moderate; middle of the road
9,6. Conservative,6. Conservative

### CSV

Los CSV son muy sencillos de cargar:

In [31]:
FileCSV="D:/Python/1. Nivel I/3/datos/LL.csv"
dataCSV=pd.read_csv(FileCSV,
                    sep=",")
dataCSV.head(10)

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75
0,1,33,12,0,1,0,0.000000,0.000000,12418.070312,0,1,1
1,1,20,12,0,1,0,8644.156250,8644.156250,11656.505859,0,0,0
2,0,39,12,1,1,0,19785.320312,6608.137207,499.257202,0,0,0
3,1,49,8,0,1,1,9714.596680,7285.947754,16717.121094,0,0,0
4,0,26,8,0,1,1,37211.757812,36941.265625,30247.500000,0,0,0
5,0,38,10,1,1,1,14759.063477,14701.947266,4393.522949,0,0,0
6,0,28,12,0,0,0,0.000000,803.343018,16477.019531,0,1,0
7,0,27,12,1,1,0,0.000000,752.390076,0.000000,0,1,0
8,1,33,12,1,1,0,20279.949219,10941.349609,15952.599609,0,0,0
9,0,44,9,1,1,1,12260.780273,10857.240234,12359.309570,0,0,0

### TXT

In [33]:
import pandas as pd

df = pd.read_csv('D:/Python/2. Nivel II/5/datos/housing.data.txt', #ruta de archivo txt
                 header=None, #header=None: no tiene encabezado
                 sep='\s+') #sep indica la opción de separación de las columnas

df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [34]:
df.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 
              'NOX', 'RM', 'AGE', 'DIS', 'RAD', 
              'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

[Ir a Inicio](#beginning)

_____

<a id='part2'></a>
## Conexión a bases de datos

### Microsoft SQL Server

In [43]:
#!pip install pandas

In [43]:
import pandas.io.sql
import pandas as pd
import pyodbc
import numpy as np
import psycopg2

In [44]:
conexion = pyodbc.connect('DRIVER={SQL Server};SERVER=69.164.192.245;DATABASE=NEPTUNO;UID=SA;PWD=SdC2019PERU!')
# Parámetros
#SERVER = '69.164.192.245'
#DATABASE = 'NEPTUNO'
#UID = 'SA'
#PWD = 'SdC2019PERU!'

#con = psycopg2.connect("dbname=profesor user=postgres password=sdc2019PERU host=69.164.192.245")

Tanto para ejecutar una sentencia **SQL** para actualizar, insertar o borrar datos, como para consultar datos, necesitamos un objeto específico llamado **cursor**. Así pues, antes de realizar cualquiera de estas operaciones, procedemos a la obtención del mismo:

In [45]:
cursor = conexion.cursor()
#SELECT * from tabla_resultados

**Método fetchall()**

extrae todos los registros que cumplen con la condición especificada, si asignamos su resultado a la variable **rows**, podemos iterar y obtener la información de todos los registros. En realidad, obtendremos una tupla donde cada uno de los valores se corresponder con el de los campos de la tabla. Así pues, si quisiéramos obtener solamente el valor correspondiente a los millones de habitantes de cada país, bastaría sustituir la sentencia *print(row)* de nuestro bucle, por *print(row[3])*.

In [46]:
sql = 'SELECT  * from productos' # sentencia SQL
cursor.execute(sql) #ejecutar sentencia SQL mediante cursor
rows = cursor.fetchall() #método fetchall
for row in rows:
    print(row)

(1, 'Té Dharamsala', 1, 1, '10 cajas x 20 bolsas', Decimal('18'), 39, 0, 10, 0, 'Categoria D')
(2, 'Cerveza tibetana Barley', 1, 1, '24 - bot. 12 l', Decimal('19'), 17, 40, 25, 0, 'Categoria D')
(3, 'Sirope de regaliz', 1, 2, '12 - bot. 550 ml', Decimal('10'), 13, 70, 25, 0, 'Categoria D')
(4, 'Especias Cajun del chef Anton', 2, 2, '48 - frascos 6 l', Decimal('22'), 53, 0, 0, 0, 'Categoria D')
(5, 'Mezcla Gumbo del chef Anton', 2, 2, '36 cajas', Decimal('21'), 0, 0, 0, 1, 'Categoria D')
(6, 'Mermelada de grosellas de la abuela', 3, 2, '12 - frascos 8 l', Decimal('25'), 120, 0, 25, 0, 'Categoria D')
(7, 'Peras secas orgánicas del tío Bob', 3, 7, '12 - paq. 1 kg', Decimal('30'), 15, 0, 10, 0, 'Categoria D')
(8, 'Salsa de arándanos Northwoods', 3, 2, '12 - frascos 12 l', Decimal('40'), 6, 0, 0, 0, 'Categoria D')
(9, 'Buey Mishi Kobe', 4, 6, '18 - paq. 500 g', Decimal('97'), 29, 0, 0, 1, 'Categoria D')
(10, 'Pez espada', 4, 8, '12 - frascos 200 ml', Decimal('31'), 31, 0, 0, 0, 'Categoria D')
(11, 'Queso Cabrales', 5, 4, 'paq. 1 kg', Decimal('21'), 22, 30, 30, 0, 'Categoria D')
(12, 'Queso Manchego La Pastora', 5, 4, '10 - paq. 500 g', Decimal('38'), 86, 0, 0, 0, 'Categoria D')
(13, 'Algas Konbu', 6, 8, 'caja 2 kg', Decimal('6'), 24, 0, 5, 0, 'Categoria D')
(14, 'Cuajada de judías', 6, 7, '40 - paq. 100 g', Decimal('23'), 35, 0, 0, 0, 'Categoria D')
(15, 'Salsa de soja baja en sodio', 6, 2, '24 - bot. 250 ml', Decimal('16'), 39, 0, 5, 0, None)
(16, 'Postre de merengue Pavlova', 7, 3, '32 - cajas 500 g', Decimal('17'), 29, 0, 10, 0, 'Categoria D')
(17, 'Cordero Alice Springs', 7, 6, '20 - latas 1 kg', Decimal('39'), 0, 0, 0, 1, 'Categoria D')
(18, 'Langostinos tigre Carnarvon', 7, 8, 'paq. 16 kg', Decimal('63'), 42, 0, 0, 0, 'Categoria D')
(19, 'Pastas de té de chocolate', 8, 3, '10 cajas x 12 piezas', Decimal('9'), 25, 0, 5, 0, 'Categoria D')
(20, "Mermelada de Sir Rodney's", 8, 3, '30 cajas regalo', Decimal('81'), 40, 0, 0, 0, 'Categoria D')
(21, "Bollos de Sir Rodney's", 8, 3, '24 paq. x 4 piezas', Decimal('10'), 3, 40, 5, 0, 'Categoria D')
(22, "Pan de centeno crujiente estilo Gustaf's", 9, 5, '24 - paq. 500 g', Decimal('21'), 104, 0, 25, 0, 'Categoria D')
(23, 'Pan fino', 9, 5, '12 - paq. 250 g', Decimal('9'), 61, 0, 25, 0, 'Categoria D')
(24, 'Refresco Guaraná Fantástica', 10, 1, '12 - latas 355 ml', Decimal('5'), 20, 0, 0, 1, 'Categoria D')
(25, 'Crema de chocolate y nueces NuNuCa', 11, 3, '20 - vasos  450 g', Decimal('14'), 76, 0, 30, 0, 'Categoria D')
(26, 'Ositos de goma Gumbär', 11, 3, '100 - bolsas 250 g', Decimal('31'), 15, 0, 0, 0, 'Categoria D')
(27, 'Chocolate Schoggi', 11, 3, '100 - piezas 100 g', Decimal('44'), 49, 0, 30, 0, 'Categoria D')
(28, 'Col fermentada Rössle', 12, 7, '25 - latas 825 g', Decimal('46'), 26, 0, 0, 1, 'Categoria D')
(29, 'Salchicha Thüringer', 12, 6, '50 bolsas x 30 salch', Decimal('124'), 0, 0, 0, 1, 'Categoria B')
(30, 'Arenque blanco del noroeste', 13, 8, '10 - vasos 200 g', Decimal('26'), 10, 0, 15, 0, 'Categoria D')
(31, 'Queso gorgonzola Telino', 14, 4, '12 - paq. 100 g', Decimal('13'), 0, 70, 20, 0, 'Categoria D')
(32, 'Queso Mascarpone Fabioli', 14, 4, '24 - paq. 200 g', Decimal('32'), 9, 40, 25, 0, 'Categoria D')
(33, 'Queso de cabra', 15, 4, '500 g', Decimal('3'), 112, 0, 20, 0, 'Categoria D')
(34, 'Cerveza Sasquatch', 16, 1, '24 - bot. 12 l', Decimal('14'), 111, 0, 15, 0, 'Categoria D')
(35, 'Cerveza negra Steeleye', 16, 1, '24 - bot. 12 l', Decimal('18'), 20, 0, 15, 0, 'Categoria D')
(36, 'Escabeche de arenque', 17, 8, '24 - frascos 250 g', Decimal('19'), 112, 0, 20, 0, 'Categoria D')
(37, 'Salmón ahumado Gravad', 17, 8, '12 - paq. 500 g', Decimal('26'), 11, 50, 25, 0, 'Categoria D')
(38, 'Vino Côte de Blaye', 18, 1, '12 - bot. 75 cl', Decimal('264'), 17, 0, 15, 0, 'Categoria A')
(39, 'Licor verde Chartreuse', 18, 1, '750 cc por bot.', Decimal('18'), 69, 0, 5, 0, 'Categoria D')
(40, 'Carne de cangrejo de Boston', 19, 8, '24 - latas 4 l', Decimal('18'), 123, 0, 30, 0, 'Categoria D')
(41, 'Crema de almejas estilo Nueva Inglaterra', 19, 8, '12 - latas 12 l', Decimal('10'), 85, 0, 10, 0, 'Categoria D')
(42, 'Tallarines de Singapur', 20, 5, '32 - 1 kg paq.', Decimal('14'), 26, 0, 0, 1, 'Categoria D')
(43, 'Café de Malasia', 20, 1, '16 - latas 500 g', Decimal('46'), 17, 10, 25, 0, 'Categoria D')
(44, 'Azúcar negra Malacca', 20, 2, '20 - bolsas 2 kg', Decimal('19'), 27, 0, 15, 0, 'Categoria D')
(45, 'Arenque ahumado', 21, 8, 'paq. 1k', Decimal('10'), 5, 70, 15, 0, 'Categoria D')
(46, 'Arenque salado', 21, 8, '4 - vasos 450 g', Decimal('12'), 95, 0, 0, 0, 'Categoria D')
(47, 'Galletas Zaanse', 22, 3, '10 - cajas 4 l', Decimal('10'), 36, 0, 0, 0, 'Categoria D')
(48, 'Chocolate holandés', 22, 3, '10 paq.', Decimal('13'), 15, 70, 25, 0, 'Categoria D')
(49, 'Regaliz', 23, 3, '24 - paq. 50 g', Decimal('20'), 10, 60, 15, 0, 'Categoria D')
(50, 'Chocolate blanco', 23, 3, '12 - barras 100 g', Decimal('16'), 65, 0, 30, 0, 'Categoria D')
(51, 'Manzanas secas Manjimup', 24, 7, '50 - paq. 300 g', Decimal('53'), 20, 0, 10, 0, 'Categoria C')
(52, 'Cereales para Filo', 24, 5, '16 - cajas 2 kg', Decimal('7'), 38, 0, 25, 0, 'Categoria D')
(53, 'Empanada de carne', 24, 6, '48 porc.', Decimal('33'), 0, 0, 0, 1, 'Categoria D')
(54, 'Empanada de cerdo', 25, 6, '16 tartas', Decimal('7'), 21, 0, 10, 0, 'Categoria D')
(55, 'Paté chino', 25, 6, '24 cajas x 2 tartas', Decimal('24'), 115, 0, 20, 0, 'Categoria D')
(56, 'Gnocchi de la abuela Alicia', 26, 5, '24 - paq. 250 g', Decimal('38'), 21, 10, 30, 0, 'Categoria D')
(57, 'Raviolis Angelo', 26, 5, '24 - paq. 250 g', Decimal('20'), 36, 0, 20, 0, 'Categoria D')
(58, 'Caracoles de Borgoña', 27, 8, '24 porc.', Decimal('13'), 62, 0, 20, 0, 'Categoria D')
(59, 'Raclet de queso Courdavault', 28, 4, 'paq. 5 kg', Decimal('55'), 79, 0, 0, 0, 'Categoria C')
(60, 'Camembert Pierrot', 28, 4, '15 - paq. 300 g', Decimal('34'), 19, 0, 0, 0, 'Categoria C')
(61, 'Sirope de arce', 29, 2, '24 - bot. 500 ml', Decimal('29'), 113, 0, 25, 0, 'Categoria D')
(62, 'Tarta de azúcar', 29, 3, '48 tartas', Decimal('49'), 17, 0, 0, 0, 'Categoria C')
(63, 'Sandwich de vegetales', 7, 2, '15 - frascos 625 g', Decimal('44'), 24, 0, 5, 0, 'Categoria D')
(64, 'Bollos de pan de Wimmer', 12, 5, '20 bolsas x 4 porc.', Decimal('33'), 22, 80, 30, 0, 'Categoria D')
(65, 'Salsa de pimiento picante de Luisiana', 2, 2, '32 - bot. 8 l', Decimal('21'), 76, 0, 0, 0, 'Categoria D')
(66, 'Especias picantes de Luisiana', 2, 2, '24 - frascos 8 l', Decimal('17'), 4, 100, 20, 0, 'Categoria D')
(67, 'Cerveza Laughing Lumberjack', 16, 1, '24 - bot. 12 l', Decimal('14'), 52, 0, 10, 0, 'Categoria D')
(68, 'Barras de pan de Escocia', 8, 3, '10 cajas x 8 porc.', Decimal('13'), 6, 10, 15, 0, 'Categoria D')
(69, 'Queso Gudbrandsdals', 15, 4, 'paq. 10 kg', Decimal('36'), 26, 0, 15, 0, 'Categoria D')
(70, 'Cerveza Outback', 7, 1, '24 - bot. 355 ml', Decimal('15'), 15, 10, 30, 0, 'Categoria D')
(71, 'Crema de queso Fløtemys', 15, 4, '10 - paq. 500 g', Decimal('22'), 26, 0, 0, 0, 'Categoria D')
(72, 'Queso Mozzarella Giovanni', 14, 4, '24 - paq. 200 g', Decimal('35'), 14, 0, 0, 0, 'Categoria D')
(73, 'Caviar rojo', 17, 8, '24 - frascos150 g', Decimal('15'), 101, 0, 5, 0, 'Categoria D')
(74, 'Queso de soja Longlife', 4, 7, 'paq. 5 kg', Decimal('10'), 4, 20, 5, 0, 'Categoria D')
(75, 'Cerveza Klosterbier Rhönbräu', 12, 1, '24 - bot. 0,5 l', Decimal('8'), 125, 0, 25, 0, 'Categoria D')
(76, 'Licor Cloudberry', 23, 1, '500 ml', Decimal('18'), 57, 0, 20, 0, 'Categoria D')
(77, 'Salsa verde original Frankfurter', 12, 2, '12 cajas', Decimal('13'), 32, 0, 15, 0, 'Categoria D')

In [47]:
conexion.close() # cerrar la conexión

#### Manera incorrecta de generar un data frame

In [48]:
#MANERA INCORRECTA DE CONVERSIÓN A FORMATO DATAFRAME
#creandolo:
DF_lists=pd.DataFrame(rows,columns=['nombreProducto'])
DF_lists.head()

                                      nombreProducto
0  [1, Té Dharamsala, 1, 1, 10 cajas x 20 bolsas,...
1  [2, Cerveza tibetana Barley, 1, 1, 24 - bot. 1...
2  [3, Sirope de regaliz, 1, 2, 12 - bot. 550 ml,...
3  [4, Especias Cajun del chef Anton, 2, 2, 48 - ...
4  [5, Mezcla Gumbo del chef Anton, 2, 2, 36 caja...

#### Manera correcta de generar un data frame

In [49]:
df2 = pd.DataFrame(np.array(rows),
                   columns=["ID",'nombreProducto',"idProveedor","idCategoria","cantidadPorUnidad",
                            'precioUnidad',"unidadesEnExistencia","unidadesEnPedido",
                            "nivelNuevoPedido",'suspendido','categoriaProducto'])
df2.head()

,ID,nombreProducto,idProveedor,idCategoria,cantidadPorUnidad,precioUnidad,unidadesEnExistencia,unidadesEnPedido,nivelNuevoPedido,suspendido,categoriaProducto
0,1,Té Dharamsala,1,1,10 cajas x 20 bolsas,18,39,0,10,0,Categoria D
1,2,Cerveza tibetana Barley,1,1,24 - bot. 12 l,19,17,40,25,0,Categoria D
2,3,Sirope de regaliz,1,2,12 - bot. 550 ml,10,13,70,25,0,Categoria D
3,4,Especias Cajun del chef Anton,2,2,48 - frascos 6 l,22,53,0,0,0,Categoria D
4,5,Mezcla Gumbo del chef Anton,2,2,36 cajas,21,0,0,0,1,Categoria D

### PostgreSQL

El módulo más popular para trabajar con bases de datos **PostgresSQL** es *psycopg2* y, al igual que en el caso de *pyodbc*, este no forma parte de la librería estándar de **Python**, por lo que hay que instalarlo para poder utilizarlo.

In [26]:
#pip install psycopg2

In [51]:
import psycopg2
import pandas as pd

In [52]:
con = psycopg2.connect("dbname=profesor user=postgres password=sdc2019PERU host=69.164.192.245")

In [53]:
cursor= con.cursor()

**Método fetchmany()**

puede ser utilizado para obtener un determinado número de filas, basta con pasar como argumentos el número de las que necesitamos, tal como se muestra en el ejemplo:

In [54]:
sql = 'SELECT * FROM bupa' #sentencia SQL
cursor.execute(sql) #ejecutamos la sentencia SQl
select = cursor.fetchmany(5) #seleccionamos filas
select

[(85, 92, 45, 27, 31, 0.0, 1),
 (85, 64, 59, 32, 23, 0.0, 2),
 (86, 54, 33, 16, 54, 0.0, 2),
 (91, 78, 34, 24, 36, 0.0, 2),
 (87, 70, 12, 28, 10, 0.0, 2)]

In [55]:
type(select)

list

In [56]:
sql = 'SELECT * FROM bupa' #seleccionamos tabla bupa del DB profesor - sentencia SQL
cursor.execute(sql) #ejecutamos la sentencia
rows = cursor.fetchall() #Utilizamos método fetchall para extraer todas las filas
#for row in rows:
#    print(row)

In [57]:
type(rows)

list

In [58]:
con.close() # cerrar la conexión

In [60]:
df2 = pd.DataFrame(rows,
                   columns=['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7'])
df2.head(10)

   V1  V2  V3  V4  V5   V6  V7
0  85  92  45  27  31  0.0   1
1  85  64  59  32  23  0.0   2
2  86  54  33  16  54  0.0   2
3  91  78  34  24  36  0.0   2
4  87  70  12  28  10  0.0   2
5  98  55  13  17  17  0.0   2
6  88  62  20  17   9  0.5   1
7  88  67  21  11  11  0.5   1
8  92  54  22  20   7  0.5   1
9  90  60  25  19   5  0.5   1

In [61]:
len(df2)

345

[Ir a Inicio](#beginning)

_____

### Oracle

In [ ]:
#pip install cx_Oracle

In [ ]:
import cx_Oracle
con = cx_Oracle.connect('system/Sdc_PERU-2020@140.238.185.47/cdb3_gru1fv')
#user:system
#pass:Sdc_PERU-2020
#ip:140.238.185.47
#ssid:cdb3_gru1fv

Tambien es necesario instalar Oracle Instant Client Downloads

https://www.oracle.com/database/technologies/instant-client/downloads.html

[Ir a Inicio](#beginning)

_____

<a id='part3'></a>
## 3. Laboratorio 3

Usted labora en la Central de Telefonía de la Región del sur y le solicita se conecte a la base de datos para iniciar un proyecto sobre "Modalamiento de los Reclamos de Señal". Para dicha tarea le brindan los siguientes permisos:


- IP: 69.164.192.245
- Usuario: postgres
- Contraseña: sdc2019PERU
- Nombre de la base de datos: alumno
- Nombre de la tabla: tabla_senal

- Description
- Col_name
- Row_name
- rsrp
- incidentes
- redireccion
- best_server
- cqi

1. Realizar código de conexión.
2. Exportar la data a formato csv

[Ir a Inicio](#beginning)

_____