In [ ]:
#pip install mlxtend

In [1]:
#Importando librerias necesarias
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder      #Para codificar una data transaccional
from mlxtend.frequent_patterns import apriori             #Para calcular los soportes de los posibles itemsets
from mlxtend.frequent_patterns import association_rules   #Para generar las reglas de asociaciones

### Caso1: Productos comestibles

In [58]:
#Generamos una data de prueba
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [59]:
#Creamos una instancia de clase TransactionEncoder
te=TransactionEncoder()

In [60]:
#Aprendemos y transformar los datos
mitransaccional=te.fit(dataset)
mitransaccional=te.transform(dataset)
print(mitransaccional)

[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]

In [61]:
#Metodo auxiliar
#Aprendemos y transformar los datos
mitransaccional=te.fit_transform(dataset)
print(mitransaccional)

[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]

In [62]:
#Generamos las etiquetas de las columnas
print(te.columns_)

['Apple', 'Corn', 'Dill', 'Eggs', 'Ice cream', 'Kidney Beans', 'Milk', 'Nutmeg', 'Onion', 'Unicorn', 'Yogurt']

In [63]:
#Generamos un dataframe
df=pd.DataFrame(mitransaccional,columns=te.columns_)

In [64]:
df.head()

   Apple   Corn   Dill   Eggs  Ice cream  Kidney Beans   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False          True   True    True   True    False    True
1  False  False   True   True      False          True  False    True   True    False    True
2   True  False  False   True      False          True   True   False  False    False   False
3  False   True  False  False      False          True   True   False  False     True    True
4  False   True  False   True       True          True  False   False   True    False   False

In [65]:
#Generamos los valores de S(X) para todas las combinaciones posibles de itemsets
suport_itemsets=apriori(df, # mi dataframe
                       min_support=0.6, # soporte minimo deseado en la regla antecedente
                       use_colnames=True) # uso de las etiquetas
suport_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

In [66]:
#Generando las posibles reglas de asociación con un criterio de confianza
reglas=association_rules(suport_itemsets, #soporte de itemsets
                        metric='confidence', #metrica a trabajar
                        min_threshold=0.7) #umbral minimo de confianza
reglas

              antecedents            consequents  antecedent support  ...  lift  leverage  conviction
0                  (Eggs)         (Kidney Beans)                 0.8  ...  1.00      0.00         inf
1          (Kidney Beans)                 (Eggs)                 1.0  ...  1.00      0.00         1.0
2                  (Eggs)                (Onion)                 0.8  ...  1.25      0.12         1.6
3                 (Onion)                 (Eggs)                 0.6  ...  1.25      0.12         inf
4                  (Milk)         (Kidney Beans)                 0.6  ...  1.00      0.00         inf
5                 (Onion)         (Kidney Beans)                 0.6  ...  1.00      0.00         inf
6                (Yogurt)         (Kidney Beans)                 0.6  ...  1.00      0.00         inf
7           (Eggs, Onion)         (Kidney Beans)                 0.6  ...  1.00      0.00         inf
8    (Eggs, Kidney Beans)                (Onion)                 0.8  ...  1.25      0.12         1.6
9   (Onion, Kidney Beans)                 (Eggs)                 0.6  ...  1.25      0.12         inf
10                 (Eggs)  (Onion, Kidney Beans)                 0.8  ...  1.25      0.12         1.6
11                (Onion)   (Eggs, Kidney Beans)                 0.6  ...  1.25      0.12         inf

[12 rows x 9 columns]

In [67]:
#Creamos una nueva variable (de conteo) de los items que conforman el itemset de la regla antecedente
reglas['antecedentes_freq']=reglas["antecedents"].apply(lambda x: len(x))
reglas

              antecedents            consequents  antecedent support  ...  leverage  conviction  antecedentes_freq
0                  (Eggs)         (Kidney Beans)                 0.8  ...      0.00         inf                  1
1          (Kidney Beans)                 (Eggs)                 1.0  ...      0.00         1.0                  1
2                  (Eggs)                (Onion)                 0.8  ...      0.12         1.6                  1
3                 (Onion)                 (Eggs)                 0.6  ...      0.12         inf                  1
4                  (Milk)         (Kidney Beans)                 0.6  ...      0.00         inf                  1
5                 (Onion)         (Kidney Beans)                 0.6  ...      0.00         inf                  1
6                (Yogurt)         (Kidney Beans)                 0.6  ...      0.00         inf                  1
7           (Eggs, Onion)         (Kidney Beans)                 0.6  ...      0.00         inf                  2
8    (Eggs, Kidney Beans)                (Onion)                 0.8  ...      0.12         1.6                  2
9   (Onion, Kidney Beans)                 (Eggs)                 0.6  ...      0.12         inf                  2
10                 (Eggs)  (Onion, Kidney Beans)                 0.8  ...      0.12         1.6                  1
11                (Onion)   (Eggs, Kidney Beans)                 0.6  ...      0.12         inf                  1

[12 rows x 10 columns]

In [68]:
#Mostrar las reglas funakes de Seleccion (segun criterio del investigador o analista)
reglas[(reglas.antecedentes_freq>=2)&(reglas.lift>1.2)]

             antecedents consequents  antecedent support  ...  leverage  conviction  antecedentes_freq
8   (Eggs, Kidney Beans)     (Onion)                 0.8  ...      0.12         1.6                  2
9  (Onion, Kidney Beans)      (Eggs)                 0.6  ...      0.12         inf                  2

[2 rows x 10 columns]

### Caso2: Canciones Alejandro Sanz

In [14]:
dataset2 = [["amiga mia", "corazón partido", "y si fuera ella"],
           ["corazón partido", "cuando nadie me ve", "aprendíz"],
           ["corazón partido", "mi soledad y yo", "amiga mia"],
           ["corazón partido", "y si fuera ella", "aprendíz"],
           ["mi soledad y yo", "cuando nadie me ve", "amiga mia"],
           ["mi soledad y yo", "la fuerza del corazón", "y si fuera ella"],
           ["aprendíz", "amiga mia", "y si fuera ella"],
           ["corazón partido", "sólo vives por él", "lo sé"],
           ["corazón partido", "mi soledad y yo", "y si fuera ella"],
           ["pisando fuerte", "no es lo mismo", "cuando nadie me ve"]]

In [18]:
#Creamos una instancia de clase TransactionEncoder
te2=TransactionEncoder()

In [19]:
#Aprendemos y transformar los datos
mitransaccional2=te2.fit_transform(dataset2)

In [20]:
#Generamos las etiquetas de las columnas
print(te2.columns_)

['amiga mia', 'aprendíz', 'corazón partido', 'cuando nadie me ve', 'la fuerza del corazón', 'lo sé', 'mi soledad y yo', 'no es lo mismo', 'pisando fuerte', 'sólo vives por él', 'y si fuera ella']

In [43]:
#Creamos el dataframe
df2=pd.DataFrame(mitransaccional2,columns=te2.columns_)
df2.head()

   amiga mia  aprendíz  corazón partido  ...  pisando fuerte  sólo vives por él  y si fuera ella
0       True     False             True  ...           False              False             True
1      False      True             True  ...           False              False            False
2       True     False             True  ...           False              False            False
3      False      True             True  ...           False              False             True
4       True     False            False  ...           False              False            False

[5 rows x 11 columns]

In [48]:
#Generamos los soportes de las posibles de las posibles reglas antecedentes con un umbral minimo
suport_itemsets2=apriori(df2, # mi dataframe
                       min_support=0.2, # soporte minimo deseado en la regla antecedente
                       use_colnames=True) # uso de las etiquetas
suport_itemsets2

    support                            itemsets
0       0.4                         (amiga mia)
1       0.3                          (aprendíz)
2       0.6                   (corazón partido)
3       0.3                (cuando nadie me ve)
4       0.4                   (mi soledad y yo)
5       0.5                   (y si fuera ella)
6       0.2        (amiga mia, corazón partido)
7       0.2        (mi soledad y yo, amiga mia)
8       0.2        (y si fuera ella, amiga mia)
9       0.2         (aprendíz, corazón partido)
10      0.2         (y si fuera ella, aprendíz)
11      0.2  (mi soledad y yo, corazón partido)
12      0.3  (y si fuera ella, corazón partido)
13      0.2  (y si fuera ella, mi soledad y yo)

In [69]:
#Generando las posibles reglas de asociación con un criterio de confianza
reglas2=association_rules(suport_itemsets2, #soporte de itemsets
                        metric='lift', #metrica a trabajar
                        min_threshold=0.8) #umbral minimo de confianza
reglas2

          antecedents        consequents  antecedent support  ...      lift  leverage  conviction
0         (amiga mia)  (corazón partido)                 0.4  ...  0.833333     -0.04    0.800000
1   (corazón partido)        (amiga mia)                 0.6  ...  0.833333     -0.04    0.900000
2   (mi soledad y yo)        (amiga mia)                 0.4  ...  1.250000      0.04    1.200000
3         (amiga mia)  (mi soledad y yo)                 0.4  ...  1.250000      0.04    1.200000
4   (y si fuera ella)        (amiga mia)                 0.5  ...  1.000000      0.00    1.000000
5         (amiga mia)  (y si fuera ella)                 0.4  ...  1.000000      0.00    1.000000
6          (aprendíz)  (corazón partido)                 0.3  ...  1.111111      0.02    1.200000
7   (corazón partido)         (aprendíz)                 0.6  ...  1.111111      0.02    1.050000
8   (y si fuera ella)         (aprendíz)                 0.5  ...  1.333333      0.05    1.166667
9          (aprendíz)  (y si fuera ella)                 0.3  ...  1.333333      0.05    1.500000
10  (mi soledad y yo)  (corazón partido)                 0.4  ...  0.833333     -0.04    0.800000
11  (corazón partido)  (mi soledad y yo)                 0.6  ...  0.833333     -0.04    0.900000
12  (y si fuera ella)  (corazón partido)                 0.5  ...  1.000000      0.00    1.000000
13  (corazón partido)  (y si fuera ella)                 0.6  ...  1.000000      0.00    1.000000
14  (y si fuera ella)  (mi soledad y yo)                 0.5  ...  1.000000      0.00    1.000000
15  (mi soledad y yo)  (y si fuera ella)                 0.4  ...  1.000000      0.00    1.000000

[16 rows x 9 columns]

In [70]:
#Mostrar las reglas funakes de Seleccion (segun criterio del investigador o analista)
reglas2[(reglas2.confidence>=0.6)&(reglas2.lift>1.2)]

  antecedents        consequents  antecedent support  consequent support  ...  confidence      lift  leverage  conviction
9  (aprendíz)  (y si fuera ella)                 0.3                 0.5  ...    0.666667  1.333333      0.05         1.5

[1 rows x 9 columns]