 ## Problema 1

__1. Se quiere obtener los numeros primos desde el 0 hasta el 20 utilizando el bucle "while"__

In [5]:
numero=0
divisor=2
c=0
listaprimos=list()

In [8]:
while numero <=20:
    c=0
    while divisor<=numero:
        if numero%divisor==0:
            c+=1
            if numero==divisor and c==1:
                listaprimos.append(numero)
        divisor+=1        
    numero+=1
    divisor=2
print(listaprimos)

[2, 3, 5, 7, 11, 13, 17, 19]

## Problema 2

__2. En una encuensta realizada por el INEI se encontraron diferentes estaturas 167,178,157,189,156,169, 158,175,191,171 y se necesita mostrar el de cada uno si esta arriba del promedio general de estatura del Peru(159 cm)__

In [9]:
altura=[167,178,157,189,156,169, 158,175,191,171]
resultado=list()
data={}
i=0
prom=159

In [10]:
for i in range(len(altura)):
    if altura[i]>prom:
        resultado.append('SI')
    else:
        resultado.append('NO')
data={"Altura":altura,"Mayor al promedio?":resultado}
print(data)

{'Altura': [167, 178, 157, 189, 156, 169, 158, 175, 191, 171], 'Mayor al promedio?': ['SI', 'SI', 'NO', 'SI', 'NO', 'SI', 'NO', 'SI', 'SI', 'SI']}

In [11]:
import pandas as pd

In [12]:
df=pd.DataFrame(data)
df

   Altura Mayor al promedio?
0     167                 SI
1     178                 SI
2     157                 NO
3     189                 SI
4     156                 NO
5     169                 SI
6     158                 NO
7     175                 SI
8     191                 SI
9     171                 SI