# Reto 03 - Conexión a PostgreSQL - Exportacion a CSV

In [9]:
import psycopg2
import pandas as pd
import numpy as np

**_1. Codigo de Conexion a PostgreSQL_**

In [2]:
miconexion=psycopg2.connect("dbname=alumno user=postgres password=sdc2019PERU host=69.164.192.245")

In [3]:
micursor=miconexion.cursor()

In [4]:
micursor.execute('select * from tabla_senal')

In [5]:
misfilas=micursor.fetchall()

In [7]:
misfilas[0:5]

[('A1', 'A', 1, 0.0, 0, 0.0, '', 0.0),
 ('A2', 'A', 2, 0.0, 0, 0.0, '', 0.0),
 ('A3', 'A', 3, 0.0, 0, 0.0, '', 0.0),
 ('A4', 'A', 4, 0.0, 0, 0.0, '', 0.0),
 ('A5', 'A', 5, 0.0, 0, 0.0, '', 0.0)]

In [11]:
datospostgres=pd.DataFrame(np.array(misfilas),columns=['Description', 'Col_name', 'Row_name', 'rsrp', 'incidentes', 'redireccion', 'best_server','cqi'])
datospostgres

,Description,Col_name,Row_name,rsrp,incidentes,redireccion,best_server,cqi
0,A1,A,1,0.0,0,0.0,,0.0
1,A2,A,2,0.0,0,0.0,,0.0
2,A3,A,3,0.0,0,0.0,,0.0
3,A4,A,4,0.0,0,0.0,,0.0
4,A5,A,5,0.0,0,0.0,,0.0
...,...,...,...,...,...,...,...,...
197635,MV545,MV,545,0.0,0,0.0,,0.0
197636,MV546,MV,546,0.0,0,0.0,,0.0
197637,MV547,MV,547,0.0,0,0.0,,0.0
197638,MV548,MV,548,0.0,0,0.0,,0.0
197639,MV549,MV,549,0.0,0,0.0,,0.0

**_2. Exportacion de datospostgres a archivo csv_**

In [14]:
datospostgres.to_csv('D:\Social Data Consulting\Python for Data Science\Semana2\Reto03\Reto03-ConexionPostgresql.csv',index=False,sep=';')