## Tema1. Manejo básico de Python I: Instalación y primeros pasos

**_Manejo Básico de Sentencias_**

_Sentencia import (Importación)_

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

_Para conocer el listado de librerías instaladas en Python_

In [2]:
!pip list

Package                            Version
---------------------------------- -------------------
absl-py                            0.11.0
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.10.0
anaconda-project                   0.8.3
argh                               0.26.2
argon2-cffi                        20.1.0
asn1crypto                         1.4.0
astroid                            2.4.2
astropy                            4.0.2
astunparse                         1.6.3
async-generator                    1.10
atomicwrites                       1.4.0
attrs                              20.3.0
autopep8                           1.5.4
Babel                              2.8.1
backcall                           0.2.0
backports.functools-lru-cache      1.6.1
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
bcrypt                             3.2.0
beautifulsoup4                     4.9.3
bitarray                           1.6.1
bkcharts                           0.2
bleach                             3.2.1
bokeh                              2.2.3
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
cachetools                         4.2.1
certifi                            2020.6.20
cffi                               1.14.3
chardet                            3.0.4
click                              7.1.2
cloudpickle                        1.6.0
clyent                             1.2.2
colorama                           0.4.4
comtypes                           1.1.7
conda                              4.9.2
conda-build                        3.20.5
conda-package-handling             1.7.2
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cryptography                       3.1.1
cycler                             0.10.0
Cython                             0.29.21
cytoolz                            0.11.0
dask                               2.30.0
decorator                          4.4.2
defusedxml                         0.6.0
diff-match-patch                   20200713
dill                               0.3.3
distributed                        2.30.1
docutils                           0.16
ds-lime                            0.1.1.27
entrypoints                        0.3
et-xmlfile                         1.0.1
facebook-sdk                       3.1.0
fastcache                          1.1.0
filelock                           3.0.12
flake8                             3.8.4
Flask                              1.1.2
flatbuffers                        1.12
fsspec                             0.8.3
future                             0.18.2
gast                               0.3.3
gevent                             20.9.0
glob2                              0.7
google-auth                        1.27.0
google-auth-oauthlib               0.4.2
google-pasta                       0.2.0
greenlet                           0.4.17
grpcio                             1.32.0
h2o                                3.28.0.3
h5py                               2.10.0
HeapDict                           1.0.1
html5lib                           1.1
idna                               2.10
imageio                            2.9.0
imagesize                          1.2.0
imbalanced-learn                   0.8.0
importlib-metadata                 2.0.0
iniconfig                          1.1.1
intervaltree                       3.1.0
ipykernel                          5.3.4
ipython                            7.19.0
ipython-genutils                   0.2.0
ipywidgets                         7.5.1
isort                              5.6.4
itsdangerous                       1.1.0
jdcal                              1.4.1
jedi                               0.17.1
Jinja2                             2.11.2
joblib                             0.17.0
json5                              0.9.5
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.7
jupyter-console                    6.2.0
jupyter-core                       4.6.3
jupyterlab                         2.2.6
jupyterlab-pygments                0.1.2
jupyterlab-server                  1.2.0
Keras-Preprocessing                1.1.2
keyring                            21.4.0
kiwisolver                         1.3.0
lazy-object-proxy                  1.4.3
libarchive-c                       2.9
llvmlite                           0.34.0
locket                             0.2.0
lxml                               4.6.1
Markdown                           3.3.3
MarkupSafe                         1.1.1
matplotlib                         3.3.4
mccabe                             0.6.1
menuinst                           1.4.16
mistune                            0.8.4
mkl-fft                            1.2.0
mkl-random                         1.1.1
mkl-service                        2.3.0
mlxtend                            0.18.0
mock                               4.0.2
more-itertools                     8.6.0
mpmath                             1.1.0
msgpack                            1.0.0
multipledispatch                   0.6.0
multiprocess                       0.70.11.1
navigator-updater                  0.2.1
nbclient                           0.5.1
nbconvert                          6.0.7
nbformat                           5.0.8
nest-asyncio                       1.4.2
networkx                           2.5
nltk                               3.5
nose                               1.3.7
notebook                           6.1.4
numba                              0.51.2
numexpr                            2.7.1
numpy                              1.19.2
numpydoc                           1.1.0
oauthlib                           3.1.0
olefile                            0.46
openpyxl                           3.0.5
opt-einsum                         3.3.0
packaging                          20.4
pandas                             1.1.3
pandocfilters                      1.4.3
paramiko                           2.7.2
parso                              0.7.0
partd                              1.1.0
path                               15.0.0
pathlib2                           2.3.5
pathos                             0.2.7
pathtools                          0.1.2
patsy                              0.5.1
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             8.0.1
pip                                21.0.1
pip-review                         1.1.0
pkginfo                            1.6.1
plotly                             4.7.0
pluggy                             0.13.1
ply                                3.11
pox                                0.2.9
ppft                               1.6.6.3
prometheus-client                  0.8.0
prompt-toolkit                     3.0.8
protobuf                           3.15.0
psutil                             5.7.2
psycopg2                           2.8.6
py                                 1.9.0
pyasn1                             0.4.8
pyasn1-modules                     0.2.8
pycodestyle                        2.6.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.43.0.6
pydocstyle                         5.1.1
pydot                              1.4.2
pydotplus                          2.0.2
pyflakes                           2.2.0
Pygments                           2.7.2
pygraphviz                         1.5
pylint                             2.6.0
PyNaCl                             1.4.0
pyodbc                             4.0.0-unsupported
pyOpenSSL                          19.1.0
pyparsing                          2.4.7
PyPrind                            2.11.2
pyreadline                         2.1
pyreadstat                         1.0.9
pyrsistent                         0.17.3
PySocks                            1.7.1
pytest                             0.0.0
python-dateutil                    2.8.1
python-jsonrpc-server              0.4.0
python-language-server             0.35.1
pytz                               2020.1
PyWavelets                         1.1.1
pywin32                            227
pywin32-ctypes                     0.2.0
pywinpty                           0.5.7
PyYAML                             5.3.1
pyzmq                              19.0.2
QDarkStyle                         2.8.1
QtAwesome                          1.0.1
qtconsole                          4.7.7
QtPy                               1.9.0
regex                              2020.10.15
requests                           2.24.0
requests-oauthlib                  1.3.0
retrying                           1.3.3
rope                               0.18.0
rsa                                4.7.1
Rtree                              0.9.4
ruamel-yaml                        0.15.87
scikit-image                       0.17.2
scikit-learn                       0.24.1
scipy                              1.5.2
seaborn                            0.11.0
Send2Trash                         1.5.0
setuptools                         50.3.1.post20201107
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
sip                                4.19.13
six                                1.15.0
skater                             1.0.2
snowballstemmer                    2.0.0
sortedcollections                  1.2.1
sortedcontainers                   2.2.2
soupsieve                          2.0.1
Sphinx                             3.2.1
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             1.0.3
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.4
sphinxcontrib-websupport           1.2.4
spyder                             4.1.5
spyder-kernels                     1.9.4
SQLAlchemy                         1.3.20
statsmodels                        0.12.0
sympy                              1.6.2
tables                             3.6.1
tabulate                           0.8.8
tblib                              1.7.0
tensorboard                        2.4.1
tensorboard-plugin-wit             1.8.0
tensorflow                         2.4.1
tensorflow-estimator               2.4.0
termcolor                          1.1.0
terminado                          0.9.1
testpath                           0.4.4
threadpoolctl                      2.1.0
tifffile                           2020.10.1
toml                               0.10.1
toolz                              0.11.1
tornado                            6.0.4
tqdm                               4.50.2
traitlets                          5.0.5
tweepy                             3.10.0
typing-extensions                  3.7.4.3
ujson                              4.0.1
unicodecsv                         0.14.1
urllib3                            1.25.11
watchdog                           0.10.3
watermark                          2.2.0
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           1.0.1
wheel                              0.35.1
widgetsnbextension                 3.5.1
win-inet-pton                      1.1.0
win-unicode-console                0.5
wincertstore                       0.2
wordcloud                          1.8.1
wrapt                              1.12.1
xlrd                               1.2.0
XlsxWriter                         1.3.7
xlwings                            0.20.8
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.30.0
zict                               2.0.0
zipp                               3.4.0
zope.event                         4.5.0
zope.interface                     5.1.2

_Importar un módulo personalizado fuera de las librerías estandar_

In [3]:
import model_evaluation_utils

In [4]:
print("Hola Mundo")

Hola Mundo

**_Sentencias de Control_**

_If/else, for y while_

**_Ejemplificando if, else y elif_**

In [5]:
x=2
y=0

In [6]:
if x==4:
    y=5
else:
    y=2

In [7]:
y

2

In [8]:
if x==4:
    y=1
elif x==5:
    y=2
elif x==6:
    y=3
else:
    y=5

In [9]:
y

5

**_Ejemplificando la sentencia for_**

In [10]:
milista=list(range(0,6))
milista

[0, 1, 2, 3, 4, 5]

In [11]:
for i in milista:
    print(i)

0
1
2
3
4
5

In [12]:
for item in (1,2,3):
    print(item)
else:
    print("Fin")

1
2
3
Fin

**_Ejemplificando la sentencia While_**

In [13]:
i=0
while i<10:
    print(i)
    i+=1     #i=i+1

0
1
2
3
4
5
6
7
8
9

In [14]:
x=-4
y=3

while x<=y:
    print(x)
    if x==2:
        break
    else:
        print("El bucle se detendrá en x=2")
    x+=1

-4
El bucle se detendrá en x=2
-3
El bucle se detendrá en x=2
-2
El bucle se detendrá en x=2
-1
El bucle se detendrá en x=2
0
El bucle se detendrá en x=2
1
El bucle se detendrá en x=2
2

## Tema2. Manejo básico de Python II: Estructura y tipo de datos básicos

In [15]:
x=[23,2,5]
x

[23, 2, 5]

In [16]:
num=255
num

255

In [17]:
type(x),type(num)

(list, int)

**_Listas_**

In [18]:
lista1=[9,8,7]
lista1

[9, 8, 7]

In [19]:
lista2=lista1
lista2

[9, 8, 7]

In [20]:
lista1[2]=5
lista1

[9, 8, 5]

In [21]:
lista2

[9, 8, 5]

In [22]:
type(lista1)

list

In [23]:
#Mostrar los métodos de un determinado tipo
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [25]:
lista3=lista1.copy()
lista3

[9, 8, 5]

In [26]:
lista1[1]=4
lista2

[9, 4, 5]

In [27]:
lista3

[9, 8, 5]

In [28]:
Estudiante=["Carlos",23,'False']
Estudiante

['Carlos', 23, 'False']

In [29]:
Estudiante[0]

'Carlos'

In [30]:
Estudiante[0:2]

['Carlos', 23]

In [31]:
Estudiante[-1]

'False'

In [32]:
Estudiante.append("Domingo")
Estudiante

['Carlos', 23, 'False', 'Domingo']

In [33]:
Estudiante.pop()
Estudiante

['Carlos', 23, 'False']

In [34]:
Estudiante.insert(2,"Domingo")
Estudiante

['Carlos', 23, 'Domingo', 'False']

In [35]:
help(Estudiante.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [36]:
Estudiante.remove("Domingo")
Estudiante

['Carlos', 23, 'False']

**_Números_**

In [37]:
numero=4
numero

4

In [38]:
type(numero)

int

In [39]:
num_real=4.5
type(num_real)

float

In [40]:
num_complejo=3.2+7j
type(num_complejo)

complex

In [41]:
#Notación Científica
num_real=150e-3
num_real

0.15

In [42]:
num_real=0.0000005
num_real

5e-07

In [43]:
#Notación Decimal
p_value=0.02568789123
p_value

0.02568789123

In [44]:
#Por defecto el formato "f" utiliza 6 digitos de precisión
format(p_value,"f")

'0.025688'

In [45]:
format(p_value,".8f")

'0.02568789'

In [46]:
num_binario=0b111
num_binario

7

**_Cadenas_**

In [47]:
cadena=" Hola mundo"
cadena

' Hola mundo'

In [48]:
type(cadena)

str

In [49]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [50]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [51]:
cadena.capitalize()

' hola mundo'

In [52]:
cadena.lower()

' hola mundo'

In [53]:
cadena.upper()

' HOLA MUNDO'

In [54]:
cadena.strip()

'Hola mundo'

**_Conjuntos_**

In [55]:
conjunto1={'4','6','8'}
conjunto1

{'4', '6', '8'}

In [56]:
type(conjunto1)

set

In [57]:
conjunto2={1,5,6}
conjunto2

{1, 5, 6}

In [58]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [59]:
print(conjunto1)
print(conjunto2)

{'8', '4', '6'}
{1, 5, 6}

In [60]:
conjunto1.intersection(conjunto2)

set()

In [61]:
conjunto1={4,6,8}
conjunto1

{4, 6, 8}

In [62]:
conjunto1.intersection(conjunto2)

{6}

In [63]:
conjunto1.union(conjunto2)

{1, 4, 5, 6, 8}

In [64]:
conjunto1.difference(conjunto2)

{4, 8}

**Vectores**

In [65]:
import numpy as np

In [66]:
vector1=np.array([1,2,3])
vector1

array([1, 2, 3])

In [67]:
type(vector1)

numpy.ndarray

In [68]:
vector2=np.array([1,"2",3])
vector2

array(['1', '2', '3'], dtype='<U11')

In [69]:
type(vector2)

numpy.ndarray

In [70]:
vector1[1]=1.7
vector1

array([1, 1, 3])

In [71]:
vector2[1]=1.7
vector2

array(['1', '1.7', '3'], dtype='<U11')

In [72]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__dir__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_globals',
 '_mat',
 '_pytesttester',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mkl',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'os',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'use_hugepage',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [73]:
help(np.delete)

Help on function delete in module numpy:

delete(arr, obj, axis=None)
    Return a new array with sub-arrays along an axis deleted. For a one
    dimensional array, this returns those entries not returned by
    `arr[obj]`.

    Parameters
    ----------
    arr : array_like
        Input array.
    obj : slice, int or array of ints
        Indicate indices of sub-arrays to remove along the specified axis.

        .. versionchanged:: 1.19.0
            Boolean indices are now treated as a mask of elements to remove,
            rather than being cast to the integers 0 and 1.

    axis : int, optional
        The axis along which to delete the subarray defined by `obj`.
        If `axis` is None, `obj` is applied to the flattened array.

    Returns
    -------
    out : ndarray
        A copy of `arr` with the elements specified by `obj` removed. Note
        that `delete` does not occur in-place. If `axis` is None, `out` is
        a flattened array.

    See Also
    --------
    insert : Insert elements into an array.
    append : Append elements at the end of an array.

    Notes
    -----
    Often it is preferable to use a boolean mask. For example:

    >>> arr = np.arange(12) + 1
    >>> mask = np.ones(len(arr), dtype=bool)
    >>> mask[[0,2,4]] = False
    >>> result = arr[mask,...]

    Is equivalent to `np.delete(arr, [0,2,4], axis=0)`, but allows further
    use of `mask`.

    Examples
    --------
    >>> arr = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
    >>> arr
    array([[ 1,  2,  3,  4],
           [ 5,  6,  7,  8],
           [ 9, 10, 11, 12]])
    >>> np.delete(arr, 1, 0)
    array([[ 1,  2,  3,  4],
           [ 9, 10, 11, 12]])

    >>> np.delete(arr, np.s_[::2], 1)
    array([[ 2,  4],
           [ 6,  8],
           [10, 12]])
    >>> np.delete(arr, [1,3,5], None)
    array([ 1,  3,  5,  7,  8,  9, 10, 11, 12])

**Diccionarios**

In [74]:
Estudiantedict={"Nombres":"Juan",
               "Edad":23,
               "Masculino":True}
Estudiantedict

{'Nombres': 'Juan', 'Edad': 23, 'Masculino': True}

In [75]:
type(Estudiantedict)

dict

In [76]:
Estudiantedict[0]

KeyError: 0

In [77]:
Estudiantedict["Nombres"]

'Juan'

In [78]:
Estudiantedict["Edad"]

23

In [79]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [80]:
#Diccionario con Múltiples Valores

In [81]:
Nombres=["Arnold","Marco","Fredy","Keila"]
Edades=[23,22,25,21]
Masculino=["True","True","True","False"]
EstudianteMulti={"Nombres":Nombres,
               "Edad":Edades,
               "Masculino":Masculino}
EstudianteMulti

{'Nombres': ['Arnold', 'Marco', 'Fredy', 'Keila'],
 'Edad': [23, 22, 25, 21],
 'Masculino': ['True', 'True', 'True', 'False']}

In [82]:
EstudianteMulti["Nombres"]

['Arnold', 'Marco', 'Fredy', 'Keila']

**DataFrames**

In [83]:
import pandas as pd

**Generando un DataFrame mediante un Diccionario**

In [84]:
#Generando listas
nombres=["Manuel","Karen","Karolyne","Omar"]
edades=[23,29,23,26]
paises=["Ecuador","Colombia","Peru","Peru"]
educacion=["Bach","Lic","Bach","PhD"]

In [85]:
#Generando nuestro diccionario
data={"nombres":nombres,
     "edades":edades,
     "pais":paises,
     "educacion":educacion}
data

{'nombres': ['Manuel', 'Karen', 'Karolyne', 'Omar'],
 'edades': [23, 29, 23, 26],
 'pais': ['Ecuador', 'Colombia', 'Peru', 'Peru'],
 'educacion': ['Bach', 'Lic', 'Bach', 'PhD']}

In [86]:
estudiantes=pd.DataFrame(data)
estudiantes

    nombres  edades      pais educacion
0    Manuel      23   Ecuador      Bach
1     Karen      29  Colombia       Lic
2  Karolyne      23      Peru      Bach
3      Omar      26      Peru       PhD

**Generando un DataFrame mediante una lista de listas**

In [87]:
# Listas por filas
row1=["Manuel", 23,"Ecuador", "Bach"]
row2=["Karen", 29, "Perú", "Lic"]
row3=["Karolayne", 23, "Brasil", "Bach"]
row4=["Omar", 26, "Argentina", "PhD"]

In [88]:
#Lista de listas de filas
listOfRows=[row1,row2,row3,row4]
listOfRows

[['Manuel', 23, 'Ecuador', 'Bach'],
 ['Karen', 29, 'Perú', 'Lic'],
 ['Karolayne', 23, 'Brasil', 'Bach'],
 ['Omar', 26, 'Argentina', 'PhD']]

In [89]:
#creandolo:
estudiantes2=pd.DataFrame(listOfRows,
                      columns=['nombres','edad','pais','educacion'])
#Utilizando la función head
estudiantes2.head(2)

  nombres  edad     pais educacion
0  Manuel    23  Ecuador      Bach
1   Karen    29     Perú       Lic

In [90]:
#Para los últimos registros
estudiantes2.tail(3)

     nombres  edad       pais educacion
1      Karen    29       Perú       Lic
2  Karolayne    23     Brasil      Bach
3       Omar    26  Argentina       PhD

In [91]:
type(estudiantes)

pandas.core.frame.DataFrame

In [92]:
#help(estudiantes.head)
#head trabaja por defecto con los 5 primeros registros

In [93]:
estudiantes.tail(2)

    nombres  edades  pais educacion
2  Karolyne      23  Peru      Bach
3      Omar      26  Peru       PhD

In [94]:
#Verificando los tipos de variables de mi DataFrame
estudiantes.dtypes

nombres      object
edades        int64
pais         object
educacion    object
dtype: object

In [95]:
estudiantes.shape

(4, 4)

In [96]:
#Obtener el número de filas
nrofilas=estudiantes.shape[0]
nrofilas

4

In [97]:
#Obtener el número de columas
nrocolumnas=estudiantes.shape[1]
nrocolumnas

4

In [98]:
#Almacenar una columna en particular
#Forma1
edad=estudiantes['edades']
edad

0    23
1    29
2    23
3    26
Name: edades, dtype: int64

In [99]:
type(edad)

pandas.core.series.Series

In [100]:
#Forma2
edad2=estudiantes['edades'].values
edad2

array([23, 29, 23, 26], dtype=int64)

In [101]:
type(edad2)

numpy.ndarray

In [102]:
#Forma3
edad3=estudiantes.edades
edad3

0    23
1    29
2    23
3    26
Name: edades, dtype: int64

In [103]:
type(edad3)

pandas.core.series.Series

In [104]:
type(estudiantes.columns)

pandas.core.indexes.base.Index

In [105]:
type(list(estudiantes.columns))

list

In [106]:
#Seleccionando variables requeridas
selectedcolumns=['nombres','educacion']
selectedcolumns

['nombres', 'educacion']

In [107]:
estudiantes[selectedcolumns]

    nombres educacion
0    Manuel      Bach
1     Karen       Lic
2  Karolyne      Bach
3      Omar       PhD

**Trabajando con .loc y .iloc**

In [108]:
#.loc a nivel de locación, se nombra la variable
var_selected=["edades","educacion"]
estudiantes.loc[:,var_selected]

   edades educacion
0      23      Bach
1      29       Lic
2      23      Bach
3      26       PhD

In [109]:
#Refrescando
estudiantes

    nombres  edades      pais educacion
0    Manuel      23   Ecuador      Bach
1     Karen      29  Colombia       Lic
2  Karolyne      23      Peru      Bach
3      Omar      26      Peru       PhD

In [110]:
estudiantes.loc[:,"edades":"educacion"]

   edades      pais educacion
0      23   Ecuador      Bach
1      29  Colombia       Lic
2      23      Peru      Bach
3      26      Peru       PhD

In [111]:
#.iloc a nivel de índices, se coloca el respectivo índice
estudiantes.iloc[:,1:4]

   edades      pais educacion
0      23   Ecuador      Bach
1      29  Colombia       Lic
2      23      Peru      Bach
3      26      Peru       PhD

In [112]:
estudiantes.iloc[:,[1,3]]

   edades educacion
0      23      Bach
1      29       Lic
2      23      Bach
3      26       PhD

In [113]:
#Seleccionando filas
estudiantes.iloc[[2,3],:]

    nombres  edades  pais educacion
2  Karolyne      23  Peru      Bach
3      Omar      26  Peru       PhD

In [114]:
#Seleccionando un dato en particular
estudiantes.iloc[1,3]

'Lic'

**Cambios en el DataFrame**

In [115]:
estudiantescopia=estudiantes.copy()
estudiantescopia

    nombres  edades      pais educacion
0    Manuel      23   Ecuador      Bach
1     Karen      29  Colombia       Lic
2  Karolyne      23      Peru      Bach
3      Omar      26      Peru       PhD

In [116]:
#Cambiando la edad de Manuel
estudiantescopia.iloc[0,1]=25
estudiantescopia

    nombres  edades      pais educacion
0    Manuel      25   Ecuador      Bach
1     Karen      29  Colombia       Lic
2  Karolyne      23      Peru      Bach
3      Omar      26      Peru       PhD

In [117]:
#Eliminando una variable o columna por el nombre de la variable
estudiantescopia.drop(labels="edades",
                     axis=1,
                     inplace=True)

In [118]:
estudiantescopia

    nombres      pais educacion
0    Manuel   Ecuador      Bach
1     Karen  Colombia       Lic
2  Karolyne      Peru      Bach
3      Omar      Peru       PhD

In [119]:
estudiantescopia=estudiantes.copy()
#estudiantescopia

In [120]:
#Eliminando una variable o columna por el índice de la variable
estudiantescopia.drop(labels=estudiantescopia.columns[1],
                     axis=1,
                     inplace=True)

In [121]:
estudiantescopia

    nombres      pais educacion
0    Manuel   Ecuador      Bach
1     Karen  Colombia       Lic
2  Karolyne      Peru      Bach
3      Omar      Peru       PhD

**Consultas al DataFrame**

In [122]:
#Refrescando
estudiantes

    nombres  edades      pais educacion
0    Manuel      23   Ecuador      Bach
1     Karen      29  Colombia       Lic
2  Karolyne      23      Peru      Bach
3      Omar      26      Peru       PhD

In [123]:
#Qué estudiante es el más veterano
estudiantes[estudiantes.edades==max(estudiantes.edades)].nombres

1    Karen
Name: nombres, dtype: object

In [124]:
#Qué estudiante es el más joven
estudiantes[estudiantes.edades==min(estudiantes.edades)].nombres

0      Manuel
2    Karolyne
Name: nombres, dtype: object

In [125]:
#Qué estudiantes no son peruanos
estudiantes[estudiantes.pais!='Peru'].nombres

0    Manuel
1     Karen
Name: nombres, dtype: object

In [126]:
lugares=['Colombia','Peru']
estudiantes[estudiantes.pais.isin(lugares)].nombres

1       Karen
2    Karolyne
3        Omar
Name: nombres, dtype: object

In [127]:
#Ordenando un DataFrame

In [128]:
orden=['educacion','edades']
ascendente=[False,True] #F:Descendente y T: Ascendente
estudiantes.sort_values(by=orden,ascending=ascendente)

    nombres  edades      pais educacion
3      Omar      26      Peru       PhD
1     Karen      29  Colombia       Lic
0    Manuel      23   Ecuador      Bach
2  Karolyne      23      Peru      Bach