### Informacion del caso

El estudio de la clasificación de los tipos de vidrio fue motivado por la investigación criminológica. En la escena del crimen, el vidrio que queda puede usarse como evidencia.

### Información del atributo:

1. Número de identificación: 1 a 214
2. RI: índice de refracción
3. Na: sodio (medida de la unidad: porcentaje en peso en el óxido correspondiente, como
                  son atributos 4-10)
4. Mg: magnesio
5. Al: aluminio
6. Si: silicio
7. K: potasio
8. Ca: calcio
9. Ba: bario
10. Fe: hierro
11. Tipo de vidrio: (atributo de clase)

    **Vidrio de Edificio**
    
       1 (Tipo de Vidrio flotador_procesado)
       
       2 (Tipo de Vidrio no flotador_procesado)
       
    **Vidrio de Vehiculo**
    
       3 (Tipo de Vidrio flotador_procesado)
       
       4 (Tipo de Vidrio no flotador_procesado) (ninguno en esta base de datos)
    
    **No es vidrio**
    
       5 (contenedores)
     
       6 (vajillas)
     
       7 (faros)

### Documentos relevntes:
Ian W. Evett and Ernest J. Spiehler. Rule Induction in Forensic Science. Central Research Establishment. Home Office Forensic Science Service. Aldermaston, Reading, Berkshire RG7 4PN

In [19]:
import numpy as np
import pandas as pd
datos = "D:/SOCIAL DATA/Dropbox/Python 4ta edición - Programa Completo/2. intermedio/sesión_5/datos/glass.data"
df_glass=pd.read_csv(datos,delimiter=",",names=['Nro','Ri','Na','Mg','Al','Si','K','Ca','Ba','Fe','Y'])
df_glass.info()
df_glass.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
Nro    214 non-null int64
Ri     214 non-null float64
Na     214 non-null float64
Mg     214 non-null float64
Al     214 non-null float64
Si     214 non-null float64
K      214 non-null float64
Ca     214 non-null float64
Ba     214 non-null float64
Fe     214 non-null float64
Y      214 non-null int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

   Nro       Ri     Na    Mg    Al     Si     K    Ca   Ba   Fe  Y
0    1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0  1
1    2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0  1
2    3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0  1
3    4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0  1
4    5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0  1

### Actividades:

1. Solo considera las columnas 'Ri','Na','Mg','Al','Si','K','Ca','Ba','Fe','Y' y reserva el testeo en 30%    
2. Encontrar los priori
3. Encontrar los coeficientes
4. Reporte de clasificacion con la data de testeo
5. Generar la matriz de confusion